@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.menu {
		@apply fixed top-[10%] lg:w-[20%] w-1/2 md:w-[35%] h-[90vh] transition duration-500 z-50 bg-white;
	}

	.menu-link {
		@apply w-full px-4 py-2 rounded-md;
	}

	.menu-button {
		@apply flex items-center justify-center w-full gap-1 px-4 py-2 transition-all duration-300 rounded-md;
	}

	.auth-subcontainer {
		@apply relative flex justify-center w-full gap-2 transition-all duration-500;
	}

	.auth-input {
		@apply w-full px-4 py-3 font-semibold border-b-2 border-b-blue-dark focus:outline-none font-poppins text-blue-dark;
	}

	.auth-icon {
		@apply absolute right-3 top-[40%] text-yellow-dark;
	}

	.auth-error {
		@apply absolute top-0 left-0 font-libre-franklin;
	}

	.auth-button {
		@apply flex items-center justify-center w-full py-4 font-semibold transition duration-500;
	}

	.browse-image {
		@apply transition-all duration-500 cursor-pointer hover:scale-125;
	}

	.browse-link {
		@apply px-4 py-2 transition-all duration-500 rounded-md bg-blue-dark text-gray-light font-libre-franklin w-fit;
	}
}

@layer utilities {
	@variants responsive {
		.masonry {
			column-count: 1;
			column-gap: 0.5em;
		}
		.masonry-sm {
			column-count: 2;
			column-gap: 0.5em;
		}
		.masonry-md {
			column-count: 3;
			column-gap: 0.5em;
		}

		.masonry-lg {
			column-count: 4;
			column-gap: 0.5em;
		}

		.break-inside {
			break-inside: avoid;
		}
	}
}

::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

::-webkit-scrollbar-thumb {
	background: #14213d;
	border-radius: 20rem;
}

::-webkit-scrollbar-track {
	background: #e5e5e5;
}
